{% extends 'base.html' %}
{% load static %}
{% block title %}ROYAL HOTEL | Login{% endblock %}
{% block content %}


<!-- Login Section Start -->
        <div id="login">
            <div class="container">
                <div class="section-header">
                    <h4>Welcome Back to [Hotel Name]! Sign in to your account.</h4>
                    <p>
                        Access your reservations, manage your profile, and enjoy exclusive benefits.
                    </p>
                </div>
                <div class="login-form">
                    <form method="POST" action="login">
                        {% csrf_token %}
                        <div class="form-row" style="width: 82%; margin: auto;">
                            <div class="control-group col-sm-6">
                                <label>Username</label>
                                <input type="text" class="form-control" required="required" name="username"/>
                            </div>
                            <div class="control-group col-sm-6">
                                <label>Your Password</label>
                                <input type="password" class="form-control" required="required" name="password"/>
                            </div>
                            {% for message in messages %}
                            <label style="color: red; margin-left: 10px;">{{ message }}</label>
                            {% endfor %}
                        </div>
                        <div class="button" style="text-align: center;"><button type="submit">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
<!-- Login Section End -->



{% endblock %}
