{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>Hello Dear {{ user.username }}</h1>
<h2>Profile</h2>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<h2>Your Bookings</h2>
{% for booking in user_bookings %}
    <h3>Room: {{ booking.room.name }}</h3>
    <p>Check In: {{ booking.check_in }}</p>
    <p>Check Out: {{ booking.check_out }}</p>
    <p>First Name: {{ booking.first_name }}</p>
    <p>Last Name: {{ booking.last_name }}</p>
    <p>Email: {{ booking.email }}</p>
    <p>Phone: {{ booking.phone }}</p>
<!--    <p>Adults: {{ booking.adults }}</p>-->
<!--    <p>Children: {{ booking.children }}</p>-->
<!--    <p>Status: {{ booking.status }}</p>-->
<!--    <p>Total Price: {{ booking.total_price }}</p>-->
    <p>Special Request: {{ booking.special_request }}</p>
<!--    <p>Created At: {{ booking.created_at }}</p>-->
<!--    <p>Updated At: {{ booking.updated_at }}</p>-->


    <a href="{% url 'booking_delete' booking.id %}">Delete</a>
    <hr>

{% endfor %}



{% endblock %}
